<div class="container">
    <h1>Server Error - Refreshing the page will make the exception gone</h1>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Exception {{error.message}}</h5>
        <p class="font-weight-bold">Note: if you are seeing this angular probably not responsible for this</p>
        <p>What to do next?</p>
        <ol>
            <li>Open chrome dev tools</li>
            <li>Inspect the network tab</li>
            <li>check the failing request</li>
            <li>examine this request url</li>
            <li>reproduce the error in postman</li>
            <li>if we get same response the issue is NOT with angular</li>
        </ol>
        <p>Following is the stack trace</p>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
    </ng-container>

</div>
